<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-muted text-center">
      <p>Application uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="https://angularjs.org/" rel="external"> Angular JS</a>.</p>
    </div>
  </nav>
</footer>